.about-page-bg {
  width: 100%;
  background: url("./src/assets/images/page-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-page {
  position: relative;
  min-height: 550px;
  .about-text-container {
    display: flex;
    justify-items: center;
    flex-direction: column;
    gap: 30px;
    width: 60%;
    line-height: 1.25;
    letter-spacing: 1px;
    p {
      letter-spacing: 0;
      font-size: 48px;
    }
  }
  .img-square {
    width: 40%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 768px) {
  .about-page {
    flex-direction: column;
    width: 100%;
    .img-square {
      width: 100%;
    }
  }
}

.divider {
  display: flex;
  align-items: center;
}

.text-side {
  flex: 0;
  padding: 20px;
}

.line-side {
  flex: 2;
  height: 1px;
  background-color: #000; 
}
