.skeleton {
  position: relative;
  width: 100%;
  max-height: 500px;
  margin: 0.45rem 0;
  border-radius: 0.8rem;
}

.skeleton-bg {
  border-radius: 2.25rem;
}

.skeleton.title {
  background: linear-gradient(
    90deg,
    rgb(212, 212, 212) 56%,
    rgb(119, 119, 119) 85%
  );
  border-radius: 1rem;
  min-width: 200px;
  min-height: 20px;
  max-width: 300px;
}

.skeleton.text {
  background: linear-gradient(
    90deg,
    rgb(212, 212, 212) 56%,
    rgb(119, 119, 119) 85%
  );
  width: 50%;
  min-height: 20px;
}

.skeleton.image {
  background: linear-gradient(
    90deg,
    rgb(212, 212, 212) 56%,
    rgb(119, 119, 119) 85%
  );
  min-height: 240px;
  max-width: 100%;
  object-fit: cover;
}

.card-bg {
}

@keyframes skeletonAnimation {
  20% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.7;
  }
}

.skeleton-animation {
  animation: skeletonAnimation 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
