body {
  font-family: "Josefin Sans", sans-serif !important;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  height: 100vh;
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

@import "./styles/footer";
@import "./styles/skeleton";
@import "./styles/product";
@import "./styles/cart";
@import "./styles/header";
@import "./styles/about";
